header{
    font-size: 100px;
    text-align: center;
    color: azure;
}

body{
    background-color: seagreen;
}

h3{
    color: bisque;
    font-size: 45px;
    font-style: italic;
}

p{
    font-size: 40px;
    color: white;
}

li{
    font-size: 40px;
    color: white;
}